<footer class="page-footer footer-color">
    <div class="container row center-align">
        <div class="s12 m8 l8 copy-right">
            本站由&copy;<a href="https://pingerx.github.io/" target="_blank" class="text-color">Pinger</a>基于
            <a href="https://hexo.io/" target="_blank" class="text-color">Hexo</a> 的
            <a href="https://github.com/blinkfox/hexo-theme-matery" target="_blank" class="text-color">hexo-theme-matery</a>主题搭建
            <br>
            <% if (theme.wordCount.enable && theme.wordCount.totalCount) { %>
                &nbsp;<i class="fa fa-area-chart"></i>&nbsp;站点总字数
                <span class="text-color"><%= totalcount(site) %></span>，
            <% } %>

            <% let socialClass = '' %>
			<% if (theme.busuanziStatistics && theme.busuanziStatistics.enable) { %>
                <% socialClass = 'social-statis' %>
                <% if (theme.busuanziStatistics && theme.busuanziStatistics.totalTraffic) { %>
                <span id="busuanzi_container_site_pv">
                    <i class="fa fa-heart-o"></i>
                    本站总访问量 <span id="busuanzi_value_site_pv" class="text-color"></span>
                </span>
                <% } %>
                <% if (theme.busuanziStatistics && theme.busuanziStatistics.totalNumberOfvisitors) { %>
                <span id="busuanzi_container_site_uv">
                    次，
                      <i class="fa fa-users"></i> 访客数 <span id="busuanzi_value_site_uv" class="text-color"></span> 人
                </span>
                <% } %>
            <% } %>
        </div>
        <!-- <div class="col s12 m4 l4 social-link <%- socialClass %>"><%- partial('_partial/social-link') %></div> -->
    </div>
</footer>
